# Citation for the following file:
# Date: 5/22/2024
# Copied from react-starter-app provided in OSU CS340
# The original file was used. No changes made.
# Source URL: https://github.com/osu-cs340-ecampus/react-starter-app
# Authors: Devin Daniels and Zachary Maes under the supervision of Dr. Michael Curry and Dr. Danielle Safonte

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
